<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Test technique</title>

  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
</head>
<body>
  <div class="jumbotron">
    <h1>Acceuil</h1>
    {% if user.is_authenticated %}
      <p>Bonjour {{ user.username }}</p>
      <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
    {% else %}
      <a class="btn btn-primary" href="{% url 'login' %}">
        Please login
      </a>
    {% endif %}
  </div>
    {% if user.is_authenticated %}
    <div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
      </form>
    </div>
    <div class="container-fluid">
    {% load static %}
    {% for document in documents %}
      <div  style= "border-width:3px; border-style:solid; border-color:black">
        <p>{{ document.description }}</p>
        <a href="{{ document.document }}">Agrandir</a>
        <iframe src="{{ document.document }}" width="250" height="300" align="middle"></iframe>
        <p>Emis le {{ document.uploaded_at }}</p>
      </div>
    {% endfor %}
    {% endif %}
  </div>
</body>
</html>
